:root {
    /* Primary =============== */

    --light-red: hsl(356, 100%, 66%);
    /* (CTA text) */    
    --very-light-red: hsl(355, 100%, 74%);
    /* (CTA hover background) */    
    --very-dark-blue: hsl(208, 49%, 24%);
    /* (headings) */

    /* Neutral =============== */

    --white: hsl(0, 0%, 100%);
    /* (text) */
    --grayish-blue: hsl(240, 2%, 79%);
    /* (footer text) */
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    /* (body copy) */
    --very-dark-black-blue: hsl(240, 10%, 16%);
    /* (footer background) */

    /* Gradient =============== */

    /* Background gradient - Intro/CTA mobile nav: */
    --very-light-red: hsl(13, 100%, 72%);
    --light-red: hsl(353, 100%, 62%);

    /* Background gradient - body: */
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);

    font-family: 'Overpass', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Header =============== */

header {
    width: 100vw;
    height: 90vh;
    background: linear-gradient(to right, var(--very-light-red), var(--light-red));
    border-radius: 0 0 0 6.5rem;    
}

header .header-background-image {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-pattern-intro.svg);
    background-position: center;
    background-size: 180rem;
    background-repeat: no-repeat;
    background-position-x: -400px;
    background-position-y: -1180px;
}

header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .header-logo {
    padding: 4rem 5rem 4rem 10rem;
    margin-right: 0;
}

header .nav ul {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-grow: 2;
    list-style: none;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

header .nav #navDescription {
    margin-right: .4rem;     
    color: var(--white); 
}

header .nav #navArrow {
    margin-right: 3rem;
}

header .nav ul li a {
    text-decoration: none;
}

/* Header Buttons =============== */

button {    
    border: none;
    color: var(--white);
    padding: 0;
    cursor: pointer;    
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

header .nav .acess {
    margin-right: 11rem;
}

header .nav #login {
    border: none;
    background: transparent;
    color: var(--white);
    padding: 1rem 3rem;
}

header .nav #sign-up {
    color: var(--light-red);
    padding: 1rem 3rem 1rem 3rem;
    background: white;
    border-radius: 10rem;
}

header .nav #sign-up:hover {
    color: white;
    background: var(--light-red);
    border: white 2px solid;
}

header .header-registration {
    text-align: center;
    padding: 2rem;    
}

header #start-for-free {
    color: var(--light-red);
    padding: 1rem 1.5rem 1rem 1.5rem;
    background: white;
    border-radius: 10rem; 
    border: white 2px solid;  
    margin-right: .5rem;
}

header #start-for-free:hover {
    color: white;
    background: var(--light-red);    
    border: none;
}

header #learn-more {
    color: white;
    border: none;
    background: transparent;
    color: var(--white);
    padding: 1rem 2rem;
    border: white 2px solid;
    border-radius: 10rem; 
    margin-left: .5rem;  
}

header #learn-more:hover {
    background: white;
    color: var(--light-red);
}

/* Header Apresentation =============== */

header .header-apresentation {
    text-align: center;
    padding-top: 4rem;
}

header .header-apresentation h1 {
    font-size: 65px;
    font-weight: 700;
    color: white;
}

header .header-apresentation h2 {
    color: white;
    padding: 1.3rem;
    font-size: 22px;
    font-weight: 300;
}

/* Section Product =============== */

#product h1 {
    text-align: center;
    font-size: 40px;
    color: var(--very-dark-blue);
    font-weight: 600;
    margin: 150px 40px 50px;
}

.product-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-details {
    width: 50vw;
    height: 500px;
    display: inline-block;
    padding: 3.3rem 7rem;
}

.product-details h2 {
    color: var(--very-dark-blue);
    font-size: 27px;
}

.product-details p {
    font-size: 16px;
    color: var(--very-dark-grayish-blue);
    margin-top: 1.5rem;
    margin-bottom: 2.9rem;
}

.product-image {
    width: 50vw;
    height: 500px;
    display: inline-block;    
}

#product-img {
    width: 48rem;
    position: relative;
    top: -32%;
    right: -24%;
}

/* Footer =============== */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}