:root {
    /* ### Primary */
    --light-red: hsl(356, 100%, 66%);
    --very-light-red: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%);

    /* ### Neutral */
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-black-blue: hsl(240, 10%, 16%);

    /* ### Gradient */

    /* Header */
    --background-very-light-red: hsl(13, 100%, 72%);
    --background-light-red: hsl(353, 100%, 62%);

    /* body */
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #fafafa;
}

/* 
====================
Header
====================
*/

header {  
    background: url(../images/bg-pattern-intro-desktop.svg) no-repeat -27.7vw/200%, linear-gradient(90deg, var(--background-very-light-red), var(--background-light-red));
    height: 600px;
    border-radius: 0 0 0 6.25rem;    
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 65px;    
}

.header_logo {
    padding-left: 170px;
}

.menuitems {
    flex: 2;
    padding-left: 65px;
}

nav ul,
nav li a {
    list-style: none;    
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding-right: 2px;
}

nav li img {
    padding-right: 30px;
}

nav ul {
    display: flex;
}

.navsublinks {
    display: none;
}

.acess {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;  
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.acess a:first-child {
    padding-right: 30px;
    color: #ffffff;
}

.acess a:nth-child(2) {
    background-color: #ffffff;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    color: var(--light-red);
}

.acess a:nth-child(2):hover {
    color: #ffffff;
    background-color: var(--very-light-red);
}

.header_apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 60%;
    color: #ffffff;
    font-family: 'Overpass', sans-serif;
}

.header_title h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 100px;
}

.header_title h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
}

.header_registration {
    display: flex;    
}

.header_registration a {
    color: #ffffff;
    padding: 15px;
    display: block;
    width: 140px;
    height: 50px;
}

.header_registration a:first-child {
    background-color: #ffffff;
    color: var(--light-red);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 30px;
    margin: 8px;
}

.header_registration a:first-child:hover {
    background-color: var(--very-light-red);
    color: #ffffff;
}

.header_registration a:nth-child(2) {
    border: 1px solid #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 30px;
    margin: 8px;
}

.header_registration a:nth-child(2):hover {
    color: var(--light-red);
    background-color: #ffffff;
}

.product {
    display: flex;
    flex-direction: column;
}

.product h1 {
    text-align: center;
    color
}

.product_items {
    display: flex;
    align-items: center;
}

.product img {
    width: 300px;
}




@media (max-width: 768px) {
    header {
        background: url(../images/bg-pattern-intro-mobile.svg) no-repeat 36% 33%, linear-gradient(180deg, var(--background-very-light-red), var(--background-light-red));
    }
}